<template>
  <section class="page_single_post">
    <div class="columns">
      <div class="column is-8">
        <div class="single_post">
          <SkeletonForSingle />
          <h1 class="single_post_title">
            {{ singlePost.post_title }}
          </h1>
          <div v-if="hasImage" class="single_post_img">
            <img :src="singlePost.image" :alt="singlePost.post_title">
          </div>
          <!-- eslint-disable vue/no-v-html -->
          <div class="single_post_content post_content" v-html="singlePost.post_content" />
          <!--eslint-enable-->
        </div>
      </div>
      <div class="column is-4">
        <Rankings :rankings="rankings" :insidebar="isSidebar" />
      </div>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Rankings from '~/components/Rankings'
import SkeletonForSingle from '~/components/SkeletonForSingle'

export default {
  components: {
    Rankings,
    SkeletonForSingle
  },
  data () {
    return {
      isSidebar: true
    }
  },
  computed: {
    ...mapState({
      singlePost: 'singlePost',
      rankings: 'rankings'
    }),
    hasImage () {
      return !!this.singlePost.image
    }
  },
  created () {
    console.log('Default created _slug')
    console.log(this.$nuxt.$route.params.slug)
    this.fetchSinglePost({ slug: this.$nuxt.$route.params.slug })
    this.fetchRankings()
  },
  mounted () {
    window.addEventListener('scroll', this.onScroll)
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    ...mapActions([
      'fetchSinglePost',
      'fetchRankings'
    ])
  }
}
</script>

<style scoped>
  .page_single_post { padding: 40px 0; }
  .single_post { background: var(--white); padding: 20px; box-shadow: var(--general_shadow); border-radius: 12px; overflow: hidden; }
  .single_post_title { font-family: 'Montserrat', sans-serif; font-size: calc(1.375rem + 1.5vw); font-weight: 700; color: var(--dark); margin-bottom: 15px; }
  .single_post_img { width: calc(100% + 40px); margin-left: -20px; margin-bottom: 12px; }
</style>
