<template>
  <div class="sn_footer">
    <div class="container">
      <div class="columns">
        <div class="column is-5 is-flex is-justify-content-center is-align-items-center">
          <div class="site_short_info">
            <div class="logo has-text-white">
              LOGO
            </div>
            <div class="info">
              {{ shortInfo }}
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="footer_title">
            {{ categoryTitle }}
          </div>
          <div class="is-flex is-flex-direction-column is-justify-content-center">
            <nuxt-link v-for="(item, key) of categories" :key="key" :to="item.to" class="footer_link_item">
              {{ item.title }}
            </nuxt-link>
          </div>
        </div>
        <div class="column is-2">
          <div class="footer_title">
            {{ infoTitle }}
          </div>
          <div class="is-flex is-flex-direction-column is-justify-content-center">
            <nuxt-link :to="pageContact.to" class="footer_link_item">
              {{ pageContact.title }}
            </nuxt-link>
            <nuxt-link :to="pageJoinUs.to" class="footer_link_item">
              {{ pageJoinUs.title }}
            </nuxt-link>
            <a :href="pageDonations.to" class="footer_link_item">
              {{ pageDonations.title }}
            </a>
          </div>
        </div>
        <div class="column is-2">
          <div class="footer_title">
            {{ newsTitle }}
          </div>
          <div class="is-flex is-flex-direction-column is-justify-content-center">
            <a v-for="(flag, key) of flags" :key="key" :href="flag.to" class="footer_link_item item_with_flag is-flex is-align-items-center">
              {{ flag.name }}
            </a>
          </div>
        </div>
        <div class="column is-1 is-flex is-justify-content-center is-align-items-center">
          <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
            <a v-for="(red, key) of socialMedia" :key="key" :href="red.link" :title="red.title" class="red_icon">
              <b-icon :icon="red.icon" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    categories: {
      type: Array,
      required: true
    },
    socialMedia: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      shortInfo: 'Pellentesque blandit aliquet massa, aliquam sollicitudin ex tempus eget. Pellentesque elementum metus a leo mattis, et sodales arcu eleifend. Aliquam vestibulum, arcu in porta maximus, sapien nisi finibus mauris, in viverra mauris mi mollis libero. Sed tortor odio, ornare quis placerat non, varius a enim.',
      categoryTitle: 'Categories',
      infoTitle: 'Information',
      newsTitle: 'News From',
      pageContact: {
        title: 'Contact',
        to: { name: 'contact' }
      },
      pageJoinUs: {
        title: 'Join Us',
        to: { name: 'joinus' }
      },
      pageDonations: {
        title: 'Donations',
        to: 'link_donations'
      },
      flags: [
        // {
        //   name: 'Argentina',
        //   to: '/argentina'
        // },
        {
          name: 'Brazil',
          to: '/brazil'
        },
        {
          name: 'Canada',
          to: '/canada'
        },
        {
          name: 'Chile',
          to: '/chile'
        },
        {
          name: 'Colombia',
          to: '/colombia'
        },
        {
          name: 'Spain',
          to: '/spain'
        },
        // {
        //   name: 'Mexico',
        //   to: '/mexico'
        // },
        {
          name: 'Peru',
          to: '/peru'
        },
        {
          name: 'United State',
          to: '/usa'
        },
        {
          name: 'Venezuela',
          to: '/venezuela'
        }
      ]
    }
  }
}
</script>

<style scoped>
  .sn_footer { background: var(--dark); padding: 60px 0; }
  .red_icon { color: var(--white); margin-bottom: 20px; }
  .red_icon:last-of-type { margin-bottom: 0!important; }
  .site_short_info { color: var(--white); }
  .site_short_info .logo { text-align: center; padding: 30px 0; }
  /* .site_short_info .info { } */
  .footer_title { font-family: 'Montserrat', sans-serif; font-size: 1.25vw; font-weight: 700; color: var(--white); margin-bottom: 10px; }
  .footer_link_item { font-family: 'Lato', sans-serif; font-size: 1.25vw; font-weight: 400; color: var(--white); margin-bottom: 0; }
  /* .item_with_flag { } */
  .item_with_flag svg { width: 50px; }
</style>
