<template>
  <div class="sn_header">
    <div class="container">
      <div class="columns is-multiline is-vcentered">
        <div class="column is-4 is-offset-4 has-text-centered">
          LOGO
        </div>
        <div class="column is-2 is-offset-2">
          <div class="is-flex is-justify-content-space-between is-align-items-center">
            <a v-for="(red, key) of socialMedia" :key="key" :href="red.link" :title="red.title">
              <b-icon :icon="red.icon" />
            </a>
          </div>
        </div>
        <div class="column is-12 pb-0">
          <div class="is-flex is-justify-content-space-between is-align-items-center">
            <nuxt-link v-for="(item, key) of categories" :key="key" :to="item.to" class="sn_menu_item" exact-active-class="is-active">
              <!-- <b-icon :icon="item.icon" /> -->
              {{ item.title }}
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Array,
      required: true
    },
    socialMedia: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
  .sn_header { background: var(--white); padding-top: 25px; box-shadow: var(--general_shadow); }
  .sn_menu_item { font-family: 'Montserrat', sans-serif; font-size: clamp(12px, 1vw, 16px); line-height: 1.125rem; text-transform: uppercase; color: var(--dark); padding: 15px 30px; transition: all .5s; }
  .sn_menu_item:hover { background: var(--dark); color: var(--white); }
  .sn_menu_item.is-active { background: var(--dark); color: var(--white); }
</style>
