<template>
  <div class="sn_post_container" :class="{ 'is_open': isOpen }" :style="{ 'min-height': height + 'px' }">
    <div class="sn_shadow_blur" @click="closePost" />
    <!-- <div class="sn_ad_left" />
    <div class="sn_ad_right" /> -->
    <div class="sn_post">
      <div class="sn_post_img" :class="{ 'not_img': !hasImage }">
        <img v-if="hasImage" :src="post.image" alt="">
        <div v-if="hasImage" class="sn_shadow" @click="openPost" />
        <div v-else class="sn_shadow_white" @click="openPost" />
        <nuxt-link v-if="showCategory && post.category" :to="post.category.to" class="sn_category">
          {{ post.category.name }}
        </nuxt-link>
        <div class="sn_date">
          {{ date }}
        </div>
        <div v-if="ranking != 0" class="sn_number">
          {{ ranking }}
        </div>
      </div>
      <div class="sn_post_title_content" :class="{ big: big, 'post_without_img': !hasImage }">
        <h1 v-if="isOpen">
          {{ post.post_title }}
        </h1>
        <h3 v-else @click="openPost">
          {{ post.post_title }}
        </h3>
        <!-- eslint-disable vue/no-v-html -->
        <div class="sn_post_content post_content" v-html="post.post_content" />
        <!--eslint-enable-->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      required: true
    },
    height: {
      type: Number,
      default: 230
    },
    big: {
      type: Boolean,
      default: false
    },
    showCategory: {
      type: Boolean,
      default: false
    },
    ranking: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      isOpen: false
    }
  },
  computed: {
    hasImage () {
      return !!this.post.image
    },
    date () {
      let dateString = new Date(this.post.post_date).toUTCString()
      dateString = dateString.split(' ').slice(0, 5).join(' ')
      return dateString
    }
  },
  methods: {
    openPost () {
      this.isOpen = true
    },
    closePost () {
      this.isOpen = false
    }
  }
}
</script>

<style scoped>
  .sn_post_container { aspect-ratio: 16 / 10;  width: 100%; max-width: 100%; height: 100%; overflow: hidden; border-radius: 5px; cursor: pointer; box-shadow: var(--general_shadow); }
  .sn_shadow_blur, .sn_ad_left, .sn_ad_right { display: none; }
  .sn_post { position: relative; width: 100%; height: 100%; }
  .sn_post_img { position: relative; width: 100%; height: 100%; }
  .sn_post_img img { width: 100%; height: 100%; object-fit: cover; }
  .sn_shadow, .sn_shadow_white { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0,0,0,0.27) 0%, rgba(0,0,0,0.4) 100%); }
  .sn_shadow_white { background: var(--white); }
  .sn_category, .sn_date, .sn_number { position: absolute; }
  .sn_category { top: 20px; left: 20px; padding: 5px 10px 3px; font-family: 'Montserrat', sans-serif; font-size: clamp(10px, .9vw, 12px); text-transform: uppercase; color: var(--white); background: green; border-radius: 7px; }
  .sn_date { display: none; top: 20px; right: 20px; padding: 5px 10px 3px; font-family: 'Montserrat', sans-serif; font-size: .9vw; background: var(--dark); color: var(--white); border-radius: 7px; }
  .sn_number { top: 20px; right: 20px; font-family: 'Montserrat', sans-serif; font-size: 1rem; line-height: 1.1rem; background: var(--white); color: var(--dark); border-radius: 50%; width: 28px; height: 28px; display: flex; justify-content: center; align-items: center; }
  .sn_post_title_content { position: absolute; bottom: 20px; left: 20px; right: 20px; }
  /* .sn_post_title_content h1 { } */
  .sn_post_title_content h3 { font-family: 'Montserrat', sans-serif; font-size: clamp(16px, 1.3vw, 22px); line-height: clamp(22px, 2.1vw, 26px); font-weight: 700; color: var(--white); }
  .sn_post_title_content.big h3 { font-size: clamp(16px, 2.75vw, 42px); line-height: clamp(22px, 3.2vw, 46px); }
  .sn_post_content { display: none; }
  .sn_post_title_content.post_without_img { top: 20px; display: flex; align-items: center; }
  .sn_post_title_content.post_without_img h3 { color: var(--dark); font-size: clamp(16px, 2.5vw, 26px); line-height: clamp(22px, 3vw, 30px); }
  /* post opened */
  .is_open .sn_shadow_blur { display: block; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; backdrop-filter: blur(3px); background-color: rgba(0, 0, 0, 0.5); z-index: 900; }
  .is_open .sn_ad_left, .is_open .sn_ad_right { display: block; position: fixed; width: 160px; height: 600px; background: #8001FF; z-index: 950; }
  .is_open .sn_ad_left { left: calc(24vw + 80px); top: 50%; transform: translate(-25vw,-50%); }
  .is_open .sn_ad_right { right: calc(24vw + 80px); top: 50%; transform: translate(25vw,-50%); }
  .is_open .sn_post { background: var(--white); position: fixed; width: 50vw; height: auto; max-height: 90vh; left: 50%; top: 50%; transform: translate(-50%,-50%); border-radius: 15px; overflow-x: hidden; overflow-y: scroll; z-index: 1000; }
  .is_open .sn_post::-webkit-scrollbar { display: none; }
  .is_open .sn_post_img { height: 45vh; }
  .is_open .sn_post_img.not_img { height: 46.74px; }
  .is_open .sn_date { display: block; }
  .is_open .sn_number { display: none; }
  .is_open .sn_post_title_content { position: relative; bottom: unset; left: unset; right: unset; padding: 15px 30px 30px; }
  .is_open .sn_post_title_content h1 { font-family: 'Montserrat', sans-serif; font-size: 2vw; font-weight: 700; color: var(--dark); margin-bottom: 15px; }
  .is_open .sn_post_title_content.post_without_img { display: block; }
  .is_open .sn_post_content { display: block; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1rem; }
  .is_open .sn_post_content >>> p { margin-bottom: 15px; }
  .is_open .sn_shadow { display: none; }
</style>
