<template>
  <div class="rankings general_mb columns is-multiline" :class="{ top_space: insidebar }">
    <SectionTitle :section-name="sectionName" />
    <template v-if="rankings.length > 0">
      <div v-for="(post, key) of rankings" :key="key" class="column is-4" :class="[insidebar ? 'is-12' : '']">
        <Post :key="post.id" :post="post" :height="heightPostNormal" :ranking="key + 1" :show-category="true" />
      </div>
    </template>
    <template v-else>
      <div v-for="(key) of 3" :key="key" class="column is-4" :class="[insidebar ? 'is-12' : '']">
        <b-skeleton :height="heightPostNormal + 'px'" />
      </div>
    </template>
  </div>
</template>

<script>
import Post from '~/components/Post'
import SectionTitle from '~/components/SectionTitle'

export default {
  components: {
    Post,
    SectionTitle
  },
  props: {
    rankings: {
      type: Array,
      required: true
    },
    insidebar: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      heightPostNormal: 230,
      sectionName: 'Rankings'
    }
  }
}
</script>

<style scoped>
  .top_space { margin-top: 2px; }
</style>
