<template>
  <div class="column is-12 py-0">
    <div class="section_title">
      <nuxt-link v-if="hasLink" :to="link" class="sn_menu_item" exact-active-class="is-active">
        <h2 :class="{ 'has-text-centered': isCenter }">
          {{ sectionName }}
        </h2>
      </nuxt-link>
      <h2 v-else :class="{ 'has-text-centered': isCenter }">
        {{ sectionName }}
      </h2>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    sectionName: {
      type: String,
      required: true
    },
    isCenter: {
      type: Boolean,
      default: false
    },
    hasLink: {
      type: Boolean,
      default: false
    },
    link: {
      type: String,
      default: '/'
    }
  }
}
</script>

<style scoped>
  .section_title { padding: 15px 0; border-top: 2px solid rgba(0,0,0,.5); background: transparent; margin-bottom: -12px; }
  .section_title h2 { font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 1.125rem; text-transform: uppercase; color: var(--dark); }
</style>
