<template>
  <div class="section_category general_mb columns is-multiline">
    <SectionTitle :section-name="category.name" :has-link="true" :link="category.to" />
    <div v-for="(post, key) of posts" :key="key" class="column is-4">
      <Post :key="post.id" :post="post" :height="heightPostNormal" :show-category="false" />
    </div>
    <!-- <div class="column is-12 is-flex is-justify-content-center is-align-items-center">
      <div class="container_for_ads" />
    </div> -->
  </div>
</template>

<script>
import Post from '~/components/Post'
import SectionTitle from '~/components/SectionTitle'

export default {
  components: {
    Post,
    SectionTitle
  },
  props: {
    category: {
      type: Object,
      required: true
    },
    posts: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      heightPostNormal: 230
    }
  }
}
</script>

<style scoped>
  .section_category { margin-bottom: 40px; }
  .container_for_ads { background: #8001FF; width: 728px; height: 90px; }
</style>
