<template>
  <div class="skeleton_for_single">
    <div class="skeleton_title">
      <b-skeleton :height="'60px'" />
    </div>
    <div class="skeleton_img">
      <b-skeleton :height="'500px'" :rounded="false"  />
    </div>
    <b-skeleton :height="'16px'" :count="6" />
  </div>
</template>

<script>
export default {
  props: {
    number: {
      type: Number,
      default: 6
    }
  }
}
</script>

<style scoped>
  .skeleton_title, .skeleton_img { margin-bottom: 30px; }
  .skeleton_img { margin-left: -20px; width: calc(100 + 40px); }
</style>
