<template>
  <div class="section_category general_mb columns is-multiline">
    <b-skeleton :height="'58px'" />
    <div v-for="(key) of number" :key="key" class="column is-4">
      <b-skeleton :height="heightPostNormal + 'px'" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    number: {
      type: Number,
      default: 6
    }
  },
  data () {
    return {
      heightPostNormal: 230
    }
  }
}
</script>

<style scoped>
  .section_category { margin-bottom: 40px; }
</style>
