<template>
  <div class="stickies general_mb columns is-multiline">
    <div class="column is-8">
      <Post
        v-if="stickies[0]"
        :key="stickies[0].ID"
        :post="stickies[0]"
        :height="heightPostBig"
        :big="true"
        :show-category="true"
      />
      <b-skeleton v-else :height="heightPostBig + 'px'" />
    </div>
    <div class="column is-4">
      <div class="columns is-multiline">
        <div class="column is-12">
          <Post v-if="stickies[1]" :key="stickies[1].ID" :post="stickies[1]" :height="heightPostNormal" :show-category="true" />
          <b-skeleton v-else :height="heightPostNormal + 'px'" />
        </div>
        <div class="column is-12">
          <Post v-if="stickies[2]" :key="stickies[2].ID" :post="stickies[2]" :height="heightPostNormal" :show-category="true" />
          <b-skeleton v-else :height="heightPostNormal + 'px'" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Post from '~/components/Post'

export default {
  components: {
    Post
  },
  props: {
    stickies: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      heightPostBig: 500,
      heightPostNormal: 237.5
    }
  },
  created () {
    console.log('created Stickies')
  }
}
</script>

<style scoped>
  /* .stickies {  } */
</style>
