:root {
  --dark: #333;
  --primary_color: #F5F7F9;
  --white: #FFF;
  --general_shadow: 0 1px 4px 0 rgba(0,8,38,0.04);
  /* --general_shadow: 2px ​1px 10px 0 rgba(0,8,38,0.4); */
}

html { background: var(--primary_color); }

.general_mb { margin-bottom: 30px!important; }
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Lato', sans-serif; */


.post_content * { font-family: 'Lato', sans-serif; letter-spacing: 0.53px; color: var(--dark); }
.post_content p, .post_content h1, .post_content h2, .post_content h3, .post_content h4, .post_content h5, .post_content h6,
.post_content ul, .post_content ol { margin-bottom: 20px; }
.post_content > *:last-child { margin-bottom: 0!important; }

.post_content p { line-height: 23px; margin-bottom: 20px; }

.post_content h1, .post_content h2, .post_content h3, .post_content h4, .post_content h5, .post_content h6 { font-weight: bold; }
.post_content h1 { font-size: 1.5rem; }
.post_content h2 { font-size: 1.4rem; }
.post_content h3 { font-size: 1.3rem; }
.post_content h4 { font-size: 1.2rem; }
.post_content h5 { font-size: 1.15rem; }
.post_content h6 { font-size: 1rem; }

.post_content a { color: #3273dc; font-weight: bold; }
.post_content a:hover { text-decoration: underline; }

.post_content ul { list-style: disc; margin-left: 20px; }
.post_content ol { list-style: decimal; margin-left: 20px; }
.post_content ul ul, .post_content ul ol, .post_content ol ul, .post_content ol ol { list-style: circle!important; }