<template>
  <section class="page_category">
    <div v-if="postsInCategory.length > 0" class="section_category general_mb columns is-multiline">
      <SectionTitle :section-name="categoryName" :has-link="true" :link="categoryLink" />
      <div v-for="(post, key) of postsInCategory" :key="key" class="column is-4">
        <Post :key="post.id" :post="post" :height="heightPostNormal" :show-category="false" />
      </div>
      <div v-if="showMorePosts" class="container is-flex is-justify-content-center">
        <div class="load_more" :class="{ 'loading_more':loadindMore }" @click="loadMorePosts">
          <svg xmlns="http://www.w3.org/2000/svg" width="18.741" height="10.628" viewBox="0 0 18.741 10.628">
            <path id="caret-left-solid" d="M33.967,108.561v16.215a1.26,1.26,0,0,1-2.151.891l-8.108-8.108a1.26,1.26,0,0,1,0-1.782l8.108-8.108A1.26,1.26,0,0,1,33.967,108.561Z" transform="translate(-107.298 33.967) rotate(-90)" fill="#333" />
          </svg>
        </div>
      </div>
    </div>
    <SkeletonForSectionCategory v-else :number="12" />
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Post from '~/components/Post'
import SectionTitle from '~/components/SectionTitle'
import SkeletonForSectionCategory from '~/components/SkeletonForSectionCategory'

export default {
  components: {
    Post,
    SectionTitle,
    SkeletonForSectionCategory
  },
  data () {
    return {
      categoryLink: this.$nuxt.$route.path,
      page: 1,
      heightPostNormal: 230,
      windowTop: 0,
      loadindMore: false
    }
  },
  computed: {
    ...mapState({
      categoryName: 'categoryName',
      postsInCategory: 'postsInCategory',
      showMorePosts: 'showMorePosts'
    }),
    categoryName () {
      const name = this.$store.getters.getCategoryNameBySlug(this.$nuxt.$route.params.name)
      if (name) {
        return name
      } else {
        return 'Category Page'
      }
    }
    // ...mapGetters({
    //   categoryName: 'getCategoryNameBySlug'
    // })
  },
  created () {
    // console.log(this.$nuxt.$route)
    // console.log(this.$nuxt.$route.params.name)
    console.log('Default created _name')
    // this.categoryName('culture')
    this.fetchPostsForCategoryPage({ slug: this.$nuxt.$route.params.name, page: this.page })
  },
  mounted () {
    window.addEventListener('scroll', this.onScroll)
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    ...mapActions([
      'fetchPostsForCategoryPage'
    ]),
    loadMorePosts () {
      console.log('loadMorePosts')
      this.loadindMore = true
      this.changeLoading()
      this.page++
      this.fetchPostsForCategoryPage({ slug: this.$nuxt.$route.params.name, page: this.page })
    },
    onScroll () {
      // console.log('onScroll Called', this.windowTop)
      this.windowTop = window.scrollY
    },
    timeout (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    async changeLoading () {
      await this.timeout(3000)
      this.loadindMore = false
    }
  }
}
</script>

<style scoped>
  .page_category { margin: 43px 0 0; }
  .load_more { background: var(--white); box-shadow: 0px 3px 6px rgba(51,51,51,0.16); display: flex; justify-content: center; align-items: center; width: 150px; height: 66px; border-radius: 10px; margin-top: 20px; cursor: pointer; transition: all .25s; }
  .load_more svg { margin-top: 5px; }
  .loading_more { width: 66px; border-radius: 50%; animation: rotating .45s linear infinite; }
  @keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
</style>
