<template>
  <div class="site">
    <Header :categories="menuItems" :social-media="socialMedia" />
    <div class="container">
      <nuxt />
    </div>
    <Footer :categories="menuItems" :social-media="socialMedia" />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Header from '~/components/Header'
import Footer from '~/components/Footer'

export default {
  components: {
    Header,
    Footer
  },
  data () {
    return {
      socialMedia: [
        {
          title: 'Whatsapp',
          icon: 'whatsapp',
          link: 'link_whatsapp'
        },
        {
          title: 'Facebook',
          icon: 'facebook',
          link: 'link_facebook'
        },
        {
          title: 'Twitter',
          icon: 'twitter',
          link: 'link_twitter'
        },
        {
          title: 'Youtube',
          icon: 'youtube',
          link: 'link_youtube'
        },
        {
          title: 'Email',
          icon: 'email',
          link: 'link_email'
        }
      ]
    }
  },
  computed: {
    ...mapState({
      menuItems: 'menuItems'
    })
  },
  created () {
    console.log('Default created')
    this.fetchMenu()
  },
  methods: {
    ...mapActions([
      'fetchMenu'
    ])
  }
}
</script>
