<template>
  <div class="sn_home">
    <div class="container">
      <Stickies :stickies="stickies" />
      <Rankings :rankings="rankings" />
      <template v-if="postsByCategory.length > 0">
        <SectionCategory v-for="(postsAndCategories, key) of postsByCategory" :key="key" :category="postsAndCategories.category" :posts="postsAndCategories.posts" />
      </template>
      <SkeletonForSectionCategory v-else />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Stickies from '~/components/Stickies'
import Rankings from '~/components/Rankings'
import SectionCategory from '~/components/SectionCategory'
import SkeletonForSectionCategory from '~/components/SkeletonForSectionCategory'

export default {
  name: 'HomePage',

  components: {
    Stickies,
    Rankings,
    SectionCategory,
    SkeletonForSectionCategory
  },
  data () {
    return {

    }
  },
  computed: {
    ...mapState({
      stickies: 'stickies',
      rankings: 'rankings',
      postsByCategory: 'postsByCategory'
    })
  },
  created () {
    console.log('Home created')
    this.fetchHomePosts()
  },
  methods: {
    ...mapActions([
      'fetchHomePosts'
    ])
  }
}
</script>

<style scoped>
  .sn_home { padding: 40px 0; }
</style>
